pandas
numpy
matplotlib
seaborn
scikit-learn
jupyter

pytest
fastapi
uvicorn
pydantic
flake8
scipy
statsmodels
scorecardpy
sidetable


fastapi
uvicorn
scikit-learn

joblib
mlflow  # Add for tracking (optional setup)
pytest # Add for testing
pydantic
#pydantic_models